*.bas
baseballStats
battingStats
pitchingStats
baseballConfig
leagueStats
leagueDebug
pipestderr
config.old
documents/Hitting Fields.txt
documents/Pitching Fields.txt
updatepitchingstats.sh
pitchingstats.sh
logs/baseballstats.log
